<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/project.css">
    <link rel="stylesheet" href="../assets/css/section.css">
</head>
<body>
    <header>
        <h3>this is my first html program</h3>
    </header>
    <main>
        HTML is stand for hyper atext markup lanuage.
        <br>
        HTML is ued to create a web page.
        <br>
        HTML discribe a web page.
    </main>
    <section>
        CSS is a language we use to style an html language
        <br>
        how they are style , laidout etc.SS
    </section>

    <footer>
        <h3>this is my first HTML code</h3>
    </footer>    
</body>
</html>